
<div class="add-blog-form-container">
    <mat-card class="add-blog-form-card">
      <mat-card-header>
        <mat-card-title class="form-head">Update The Blog Post</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
        
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Content</mat-label>
            <textarea matInput formControlName="content" rows="5"></textarea>
         
          </mat-form-field>
  
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">
             Save Post
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  





















<!-- <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input id="title" formControlName="title" required />
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="content" formControlName="content" required></textarea>
    </div>
    <button type="submit" >Save</button>
  </form>
   -->